[http]
	proxy = http://127.0.0.1:20172
	postBuffer = 1024288000
	version = HTTP/1.1
[https]
	proxy = http://127.0.0.1:20172
	postBuffer = 524288000
	version = HTTP/1.1
[user]
	name = firest
	email = enlanubo@gmail.com
[diff]
  tool = meld
  colorMoved = default
	guitool = kdiff3
[difftool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args \"$LOCAL\" \"$PWD/$REMOTE\"
  #cmd = open -W -a Meld --args \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = kdiff3
[mergetool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args --auto-merge \"$PWD/$LOCAL\" \"$PWD/$BASE\" \"$PWD/$REMOTE\" --output=\"$PWD/$MERGED\"
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[safe]
	directory = /__w/emqx/emqx
	directory = /emqx
	directory = *

[core]
    pager = delta
	compression = -1

[mergetool "kdiff3"]
	trustExitCode = false
	path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
[difftool "kdiff3"]
	trustExitCode = false
	path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
